body {
    display: grid;
    grid-template-rows: 50px 800px;
    grid-template-columns: 800px 300px;
    background-color: slategray;
}

#header {
    grid-column: span 2;
    margin-left: 50px;
    font-size: 25px;
    font-family: 'Acme', sans-serif;
    letter-spacing: 4px;
}

#board {
    height: 750px;
    width: 750px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    background-color: #C4C3BD;
}

.pixel {
    height: 25px;
    width: 25px;
    border: 1px solid rgb(187, 187, 186);
    box-sizing: border-box;
    background-color: #C4C3BD;
    transition: box-shadow;
}

#interface {
    display: grid;
    grid-template-rows: 150px 100px 100px 450px;
    border: 3px solid black;
    margin: 25px 0px;
    font-family: 'Acme', sans-serif;
}

#scoreBoard {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

#score {
    border: 1px solid black;
    width: 100px;
    padding-left: 20px;
    background-color: lightgray;
}

#highScore {
    border: 1px solid black;
    width: 100px;
    padding-left: 20px;
    background-color: lightgray;
}

#buttonsArea {
    display: flex;
    justify-content: space-around;
}

.interfaceButton {
    width: 120px;
    border-radius: 15%;
    border: 3px solid black;
}

#play {
    background-color: green;
}

#reset {
    background-color: gray;
}
h4 {
    margin-left: 25px;
}

#speedButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.speed {
    border: 2px solid black;
    border-radius: 15%;
}

#slow {
    background-color: gray;
}

#avg {
    background-color: goldenrod;
}

#fast {
    background-color: gray;
}

#faster {
    background-color: gray;
}

#rules {
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px;
    height: 300px;
    margin-top: 25px;
    margin-inline: 25px;;
}

footer {
    margin-left: 50px;
}

.snake {
    background-color: black;
    border-radius: 30%;
}

.obst {
    background-color: #3F3F9F;
    border-color: silver;
}

.apple {
    background-color: red;
    border-radius: 50%;
}

.golden {
    background-color: goldenrod;
    border-radius: 50%;
    transition: all 0.5s;
}

.deadSnake {
    box-shadow: 0px 0px 10px #eb2222;
}