body {

}

#board {
    height: 900px;
    width: 900px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

div {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    box-sizing: border-box;
}