body {
    display: grid;
    grid-template-rows: 50px 800px;
    grid-template-columns: 800px 300px;

}

#header {
    grid-column: span 2;
}

#board {
    height: 750px;
    width: 750px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 25px
}

#interface {
    display: grid;
    grid-template-rows: 100px 100px 600px;
}

#scoreBoard {
    border: 1px solid black;
    margin: 25px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#score {
    border: 1px solid black;
    width: 150px;
    padding-left: 10px;
}

#buttonsArea {
    display: flex;
    justify-content: space-around;
}

.interfaceButton {
    width: 120px
}

#play {
    background-color: green;
}

#reset {
    background-color: gray;
}

.pixel {
    height: 25px;
    width: 25px;
    border: 1px dotted #999999;
    box-sizing: border-box;
    background-color: white;
}


.snake {
    background-color: black;
    border-radius: 30%;
}

.obst {
    background-color: #3F3F9F;
    border-color: silver;
}

.apple {
    background-color: red;
    border-radius: 50%;
}

.golden {
    background-color: goldenrod;
    border-radius: 50%;
}
